table.grid {
    font-family: "Courier New",Courier,monospace;
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.grid td, table.grid th {
    border: 1px solid #AAAAAA;
    padding: 1px 1px;
  }
  table.grid tbody td {
    font-size: 12px;
  }
  table.grid tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.grid thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 0px solid #444444;
  }
  table.grid thead th {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 1px solid #D0E4F5;
  }
  table.grid thead th:first-child {
    border-left: none;
  }
  
  table.grid tfoot td {
    font-size: 12px;
  }
  table.grid tfoot .links {
    text-align: right;
  }
  table.grid tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

  #table-menu{
    width: 100%;
    height: 80%;
    text-align:center;
}